.recognization {
    padding: 4rem;
    background-image: url("bg.JPG");
    overflow: hidden;
    width: 100vw;
  }

  .process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
  }

  .title {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    font-weight: 1000;
    text-align: center;
    transition: 0.3s;
  }

  .title:hover{
    font-size:2.6rem ;
  }

  .pro {
    width: 70%;
    border-radius: 15px;
    transition: 0.3s;
  }

  .recognization p {
    padding: 1rem;
    text-align: justify;
    color: #fff;
    width: 40%;
  }
  
  .recognization img{
    width: 30%;
    margin: 1rem;
  }

  .recognization .one {
    transform: translate(-5%,-80%);
    position: absolute;
  }
  .recognization .two {
    transform: translate(150%,-250%);
    position: absolute;
  }

  .recognization .three {
    transform: translate(150%,-60%);
    position: absolute;
  }


  @media screen and (max-width: 1320px) {
    .recognization p {
      
      font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 960px) {
    
    .recognization .two {
      transform: translate(125%,-210%);
      position: absolute;
    }
  
    .recognization .three {
      transform: translate(125%,-60%);
      position: absolute;
    }
  }

  @media screen and (max-width: 850px) {
    .recognization p {
      font-size: 0.6rem;
    }
  }
  @media screen and (max-width: 740px) {
    .recognization .pro {
      display: none;
    }
    .recognization .one {
      transform: translate(50%,0%); 
      position: relative;
      width: 50%;
    }
    .recognization .two {
      transform: translate(50%,0%);
      position: relative;
      width: 50%;
    }
  
    .recognization .three {
      transform: translate(50%,0%);
      position: relative;
      width: 50%;
    }
  }

 